.image-round{
  display: block;border-top-left-radius: 10px;border-top-right-radius: 10px;
}
.shows-container{
  background-color: #3C948B;
  border-radius: 10px;
  min-height: 320px;
}
.margin-bottom{
  margin-bottom: 20px;
}
