.image-round{
  display: block;border-top-left-radius: 10px;border-top-right-radius: 10px;
}
.margin-botm{
  margin-bottom: 15px;
}
.paggin{
  margin-bottom: 2%;cursor: pointer;
}
.white{
  color: #ffffff;
}
.margintop{
  margin-top: 20px;
}
