<footer class="main-footer">
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="logo">
        <a><span class="letter">Babar Shahzad</span>{{currentYear}}</a>
      </div>
    </div>
    <div class="copyright-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright">&copy; Copyright TV MAZE. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
